/* Estilos para o body (página inteira) */
body {
    font-family: Arial, sans-serif;
  box-sizing: border-box;
    margin: 0;
    padding: 0;
       /* Adiciona um fundo de gradiente */
   background-image: linear-gradient(to right, #5366f9, #a432ae);/* Substitua pelo nome da imagem */
  background-size: cover;
  background-repeat: no-repeat;
  
  }
  
  /* Estilos para o formulário */
  #formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adiciona sombra5 ao formulário */
    background: linear-gradient(90deg, #f7f7f7, #ffffff);
    /* Adiciona um fundo de gradiente */
    margin-top: 30px;
  margin-bottom: 30px;
  }
  
  /* Estilos para o título */
  h1 {
    text-align: center;
    margin-bottom: 20px;
     font-family: Poppins-Bold;
    font-size: 39px;
    background: linear-gradient(270deg, #ffffff 0, #9372ff 8.33%, #af68f4 16.67%, #c55de6 25%, #d752d7 33.33%, #e647c6 41.67%, #f23cb5 50%, #fb33a3 58.33%, #ff2d91 66.67%, #ff2c7e 75%, #ff306c 83.33%, #ff385b 91.67%, #fe4149 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
   /* Estilos checkbox */
.checkla{
  display: inline-block;
  padding-left: 20px;
  text-indent: -15px;
  
}
.checkin {
  width: 20px;
  height: 17px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
  *overflow: hidden;
}
  
  /* Estilos para os rótulos e inputs */
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    background: linear-gradient(95deg, #554468 0, #3e3160 25%, #1f1f59 50%, #001052 75%, #00004c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    
  }
  select{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #999999;
    border-radius: 20px;
  }

  input,
  textarea {
    width: 97%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #999999;
    border-radius: 20px;
  
  }
input:focus,
select:focus,
textarea:focus {
  border: 2px solid #8b48a3; /* Mudamos a cor da borda ao receber foco */
  outline: none; /* Removemos a borda padrão do foco */
}
  
/* Estilos para o botão Concluir */


#btnConcluir {
    width: 250px;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  background: linear-gradient(to right, #5fd4de, #eb39f8) ;
  border: none;
  color: #fff;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  transition: all -4s ease;
  cursor: pointer;
  transition: transform 0.4s; /* Efeto de transição */
  
}

#btnConcluir:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 4px #b1ecfb;
}


/* Estilos para a janela modal */
.modal {
  display: none;
  /* Inicia oculta */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.fechar {
  color: #d71414;
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover,
.fechar:focus {
  color: #1e2176;
  text-decoration: none;
}




#btnCopiar {
  background: linear-gradient(to right, #5fd4de, #eb39f8) ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all -4s ease;
  transition: transform 0.4s;
}

#btnCopiar:hover {
  transform: scale(1.1);
}

/* testes*/
.form-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-row .form-group{
  flex-basis: 48%;
}

/* Estilos opcionais para sua mensagem */
.mensagem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}
